/* == Bucket List ======================================================
	  This stylesheet controls the plugin display in Wordpress Admin.
	  Bucket List Plugin created by www.exiledesigns.com
   --------------------------------------------------------------------- */
   
/* == general ========================================================== */

.wrapBucket{margin-right:15px;}
.wrapBucket h2,span.bucket_title{font-family:'Helvetica Neue Light', 'Helvetica Neue', sans-serif;font-weight:normal;}
.wrapBucket ul,.wrapBucket li,.wrapBucket #icon-edit{margin:0;padding:0;}
.wrapBucket #icon-edit{margin-right:5px;}
.wrapBucket #formCat,.wrapBucket #formGoal{margin-top:5px;}
.task_date_checked,.task_link_to,.task_delete,.task_edit,.link_hide_bucket{float:left;}
ul.bucketlist-cat,ul.bucketlist-items{background:#ffffff;overflow:hidden;}
.wrapBucket input#goalTitle{width:500px;}
.wrapBucket input#catTitle{width:300px;}


/* == dialogbox ======================================================== */

.ui-dialog{background:white;z-index:1;}
.ui-dialog-content{padding:10px;}
.ui-dialog-content input{margin-left:3px;}
.ui-dialog-buttonpane{padding:0 10px 10px 10px;}
.ui-dialog-titlebar{background:#ffffff;padding:3px 10px;}
.ui-icon-closethick{float:right;}
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background-color: #000; opacity: 0.6; filter: alpha(opacity=60);}

/* == infobox ========================================================== */

.bucketlist-message{
	position:relative;
	background:url(../images/bg.gif);
	border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;
	padding:1px 10px;
	margin-bottom:20px;}
.bucketlist-message a{text-decoration:underline;}
.bucketlist-message img{position:absolute;right:10px;top:10px;}


/* == footer + header ================================================== */

.wrapBucket .header a{float:left;margin-right:20px;}
.wrapBucket .header div{float:left;padding-top:18px;}
.wrapBucket .header div div{padding-top:0;}
.wrapBucket .header .fb-like,.wrapBucket .header .gplus{margin-right:20px;}
.wrapBucket .header{margin:20px 0 10px 0;}
.header .newsletter{background:#ffffff;border:1px solid #cccccc;text-align:center;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.wrapBucket .header .newsletter a{display:block;padding:1px 6px 3px 6px;margin-right:0;}
.header div img{margin-bottom:3px;}

.wrapBucket .footer{margin-top:20px;background:#ecebf6;padding:10px;
border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}


/* == category title =================================================== */
ul.bucketlist-cat{
margin-top:20px;
background:#ffffff url(../images/drag.png) no-repeat 10px 9px;
-moz-border-radius-topleft:10px;-webkit-border-top-left-radius:10px;border-top-left-radius:10px;
-moz-border-radius-topright:10px;-webkit-border-top-right-radius:10px;border-top-right-radius:10px;
}
li.bucket_title{padding:0 10px 2px 33px;overflow:hidden;}
span.bucket_title{
margin:5px 1% 4px 0;
width:59%;
display:block;float:left;
font-size:13px;font-size:1.3rem;
}
span.bucket_title label{float:left;padding-top:2px;padding-right:5px;}
span.bucket_title a{margin-left:5px;vertical-align:middle;}
.bucket_id{font-size:0.65em;padding-right:8px;}

/*action list for category titles*/
ul.bucketcat-actions,ul.bucketitem-actions{width:40%;float:left;overflow:hidden;}
ul.bucketcat-actions{font-weight:bold;}
ul.bucketcat-actions .task_date_checked{width:20%;margin-right:1%;margin-top:11px;}
ul.bucketcat-actions .task_link_to{width:67%;margin-top:11px;}
ul.bucketcat-actions .task_delete{width:6%;}
ul.bucketcat-actions .task_edit{width:6%;}
ul.bucketcat-actions .link_hide_bucket{width:6%;margin-top:9px;}


/* == list of items ===================================================== */

ul.bucketlist-items{clear:both;
-moz-border-radius-bottomleft:10px;-webkit-border-bottom-left-radius:10px;border-bottom-left-radius:10px;
-moz-border-radius-bottomright:10px;-webkit-border-bottom-right-radius:10px;border-bottom-right-radius:10px;
}


/* == an item =========================================================== */

li.bucketlist-item{border-top:1px solid #e0e0e0;overflow:auto;padding:15px 10px 0 33px;margin:0;
background:#ffffff url(../images/drag.png) no-repeat 10px 17px;}
li.bucketlist-item span{display:block;width:59%;float:left;margin-right:1%;padding-bottom:15px;}
li.bucketlist-item input{margin-right:3px;}

/*action list for each item*/
ul.bucketitem-actions .task_date_checked{width:20%;margin-right:1%;}
ul.bucketitem-actions .task_link_to{width:67%;}
ul.bucketitem-actions .task_link_to a{text-decoration:underline;}
ul.bucketitem-actions .task_delete{width:6%;}
ul.bucketitem-actions .task_edit{width:6%;}


/* == drag&drop ========================================================= */

.ui-sortable{min-height:3px;} /*space to drag stuff into empty categories*/
li.ui-state-highlight{border:1px solid black;background:aqua!important;cursor:move;overflow:hidden;}


/* == calendar ========================================================== */

.ui-datepicker{background:white;border:1px solid black;padding:5px;widows:200px;}
.ui-datepicker-title{text-align:center;}
.ui-datepicker-prev,.ui-datepicker-next{font-size:0.6rem;}
.ui-datepicker-prev{float:left;}
.ui-datepicker-next{float:right;} 
.ui-datepicker th{width:14.2%;}
.ui-datepicker tbody td{padding:0;border-right: 1px solid #bbb;border-bottom:1px solid #bbb;text-align:center;}
.ui-datepicker tbody td:last-child{border-right:0px;}
.ui-datepicker tbody tr:last-child{border-bottom:0px;}


/* == responsive ======================================================== */

/*.toplevel_page_bucketlist div.wp-menu-image img{background-size:16px 16px!important;}*/
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	ul.bucketlist-cat,li.bucketlist-item{
		background-image:url(../images/drag@2x.png);
		background-size:16px 16px;
	}
	
}